body {
  margin: 0px;
  padding: 0px;
}

body ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

body p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

body h1, body h2, body h3 {
  padding: 0px;
  margin: 0px;
  font-family: Shrikhand;
}

body a:link, body a:visited {
  text-decoration: none;
  color: black;
}

body a:hover {
  text-decoration: underline;
}

header {
  background-color: #e95500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: #fdec9f;
}

header a, header a:visited {
  color: #fae089;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  padding-right: 40px;
  font-size: 18px;
}

section {
  background-color: #ff8f0f9c;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

section h2 {
  text-align: center;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr  1fr 1fr;
      grid-template-columns: 1fr  1fr 1fr;
  width: 100%;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(175, 175, 175, 0.911);
  border-radius: 20px;
  padding-bottom: 10px;
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

.card__name {
  text-align: center;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__price {
  font-weight: 900;
  margin-top: -10px;
}

.card__id, .card a, .card a:visited {
  color: rgba(99, 67, 0, 0.89);
}

.cart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid gray;
  background: lightgray;
  padding-left: 20px;
  padding-right: 20px;
}

.cart-card p {
  margin-left: 10px;
}

footer {
  height: 50px;
  background-color: #ff8f0f9c;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a, footer a:visited {
  color: #963e0b;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  padding-right: 40px;
  font-size: 18px;
}
