footer {
    height: 50px;
    background-color: $tertiary;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    @include padding-left-right;
    align-items: center;
    bottom: 0;
    
    & a, a:visited {
        color: rgb(150, 62, 11) ;
    }

    & ul {
        display: flex;

        & li {
            padding-right: 40px;
            font-size:  18px;

        }
    }
}