footer {
    height: 50px;
    background-color: $secondary;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    @include padding-left-right;
    align-items: center;
    
    & a, a:visited {
        color: rgb(250, 224, 137);
    }

    & h2 {
        color: $primary;
    }

    & ul {
        display: flex;

        & li {
            padding-right: 40px;
            font-size:  18px;

        }
    }
}

