footer {
    position: absolute;
    height: 50px;
    bottom: 0; left: 0; right: 0;
    background-color: $tertiary;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    @include padding-left-right;
    align-items: center;


    & ul {
        display: flex;

        & li {
            padding-right: 40px;
            font-size:  18px;

        }
    }
}