header {
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    @include padding-left-right;
    height: 100px;
    align-items: center;

    & h1 {
        color: $primary;
    }

    & a, a:visited {
        color: rgb(250, 224, 137);
    }

    & ul {
        display: flex;

        & li {
            padding-right: 40px;
            font-size:  18px;

        }
    }
}