body {
    margin: 0px;
    padding: 0px;

    & ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }

    p {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }

    & h1, h2, h3 {
        padding: 0px;
        margin: 0px;
        font-family: Shrikhand;
    }

    & a:link, a:visited {
        text-decoration: none;
        color: black;
    }

    & a:hover {
        text-decoration: underline;
    }
}