.article-confirm {
    @include padding-left-right;

    & h1 {
        @include margin-top-bottom;
    }
    & span {
        font-weight: bold;
    }
}

.footer-confirm {
    bottom : 0;
    position:fixed;
    width: 100%;
}