.product-header, .cart-card {    
    @include flex-c;
    display: grid;
    grid-template-columns: 20% 20% 15% 30%;
    column-gap: 10px;
    text-align: center;
    grid-template-rows: 1fr;
    background-color: White;
}

.cart-section {
    
    
    
    & h3 {
        display : flex;
        justify-content: center;
        @include padding-left-right;    
    }
}

.cart-card {

    padding-top: 10px;
    
    &:hover {
        transform: scale(1.01);
    }

    & button {
        margin-left: 20px;
        
    }

    & p {
        font-size: 13px
    }
}

.delete {
    @include flex-c;
    @include padding-top-bottom;
    background-color: white;
}

.contact {

    @include flex-c;
    flex-direction: column;
    width: 100%;
    background-color: white;

    &__info {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
    }
}

.sendForm {
    @include margin-top-bottom;
}
